Churn/*
Churn.egg-info/*
artifacts/*
__pycache__*
constants/*
data/*
notebooks
logs/*
prediction_app_logs/*
myenv_environment.yml
prj_str.py
setup.py


__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite
.env
.vscode/
.idea/
index.html
my_entire)pipeline.py
project dosumentation.md