{% extends "base.html" %}
{% block title %}Home - Churn App{% endblock %}
{% block content %}
<div class="container">
  <h2>📊 Welcome to the Customer Churn Prediction App</h2>
  <p>
    This app uses machine learning to help businesses predict customer churn risk.
  </p>
  <p>
    Use the <strong>Predict</strong> tab to make a prediction using individual inputs or upload a CSV file for batch prediction.
  </p>
  <p>
    Go to the <strong>About</strong> section to understand how this works.
  </p>
</div>
<footer>
      <p>Churn Predictor App v1.0.0 — Made with ❤️ by RD</p>
    </footer>
{% endblock %}
